/*
* Section - Hero
*/

/** BG - Static */

body {
    font-family: Montserrat, sans-serif !important;
}

.bullet-list {
    display: inline-block;
    text-align: left;
    margin: auto auto auto 0;
}

.bullet-list > ul {
    position: relative;
    list-style: none;
    margin-bottom: 20px;
}

.bullet-list.style-1 > ul {
    padding-left: 2.2em;
}

.bullet-list > ul > li {
    margin-bottom: 10px;
    padding-top: 0;
    position: relative;
}

.bullet-list > ul {
    position: relative;
    list-style: none;
    margin-bottom: 20px;
}

.bullet-list.check > ul > li:before {
    content: "\2611";
}

.bullet-list.style-1 > ul > li:before {
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 400;
    left: -2.2em;
    position: absolute;
    text-align: center;
    width: 1.5em;
    text-indent: 1px;
}


.bullet-list.style-1 > ul > li:before {
    background-color: #5fb014 !important;
}

.core-strength {
    margin-left: 26%;

}

.img-parallax {
    background-image: url("../img/what-is-blockchain-the-technology-explained.webp");

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
}

.work-sec {
    margin-left: 12%;
}

.carousel-item > img {
  width:300px;
  height:250px;

}

.carousel-caption{
    top: 198px;
}

.meals-ser{
    margin-left: 50px;
}

@media only screen and (max-width: 760px) {
    .cmimg {
        display: none !important;

    }

    #map1 {
        height: 100%;
    }

    .footer-logo {
        margin-top: 50px;
    }

    .loading-image {
        left: 37% !important;
    }

    .core-strength {
        margin-left: 0;
    }

    ul {
        font-size: 12px;
        font-weight: 700;

    }
    .img-parallax{
        background-repeat: repeat-y !important;
        background-size: auto !important;
    }

    .work-sec {
        margin-left: 0;
    }
    .meals-ser{
        margin-top: 30px;
        margin-left: 50px;
    }
    .other-ser {
        margin-top: 30px;
    }

}


@media only screen and (max-width: 700px) {
    /*.abt_sec_icon {*/
    /*display: none;*/
    /*}*/


}


.app_sec_icon {

    width: 90px;

}

.scroll-to-top {
    width: 35px;
    height: 30px;
    background-color: green !important;
}

.contact_iconsnew {
    width: 50px;
}

#map {
    height: 60%;
}

#map1 {
    height: 60%;
}

/** BG - Parallax */

/** BG - Video */
#hero-bg-video:before {
    z-index: 15;
}

#hero-bg-video .container {
    position: relative;
    z-index: 20;
}

#hero-bg-video .player.is-mobile {
    display: none;
}


/*
* Countdown
*/

#countdown {
    margin-bottom: 10px;
    margin-top: -40px;
}

.internal-cards {
    margin: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
    box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
}

#home {
    clip-path: url(#cache);
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.15;
    }
}


.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    /*opacity: 0.8;*/
    background-color: black;
    z-index: 99;
    text-align: center;
}

.loading-image {
    position: absolute;
    top: 40%;
    overflow: hidden;
    left: 48%;
    z-index: 100;
}

.fa.fa-map-marker:before {
    margin-right: 5px;
}

.integration-card {
    display: block;
    color: #33475c;
    border-color: transparent;
    border-width: 2px;
    /* min-height: 280px; */
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
    box-shadow: 0 10px 20px rgba(47, 91, 231, 0.1);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
    border-radius: 2px;
}

.integration-card .card-header {
    background: #fff;
    border: 0;
    padding-top: 2rem;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card:hover {
    border: 1px solid green;
}

/*
* Promo
*/
.partner-images {
    width: 100px;
    height: 100px;
}

#promo {
    background-image: url("https://test-bucket-doormonk.s3.ap-south-1.amazonaws.com/artificial-intelligence-blur-close-up-546819.webp");
}

#tools {
    background-image: url("../img/images.webp");
    background-size: cover;
}

/*
* Footer
*/

.footer-logo {
    max-height: 40px;
}

.footer-icon-social {
    bottom: 10px;
    position: relative;
}

.abt_sec_icon {
    width: 50px

}

.partner_img {
    width: 120px
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-container {
    background-image: url('../img/carrots.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}

.cover {
    overflow: hidden;
}

#wrapper {
    border-top: 1px solid #cdc;
    border-bottom: 1px solid #cdc;
    background-color: #efe;
    width: 100%;
    height: 240px;
    margin: -100px 0 0 0;
    position: absolute;
    top: 50%;
    left: 0;
}

#carousel div {
    text-align: center;
    width: 300px;
    height: 220px;
    float: left;
    position: relative;
}

#carousel div img {
    border: none;
}

#carousel div span {
    text-align: center;
    color: #333;
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: -20px;
}


